body{
    margin: 0px;
}
header{
    text-align: center;
    background-color: #4385c1;
      
  
}
.topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstul{
    display: flex;
    list-style: none;
    pad: 0px;
    color: white;
    margin-bottom: -59px;
    font-size: 18px;
}
.h1{
    font-size: 40px;
    color: white;
    font-size: 51px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 39px;
}
.simmons{
    color: white;
    font-size: 42px
}
span{
    color: #83abc1;
     margin-bottom: 30px;
     font-size: 15px;
}
.btn1 button{
    color: white;
    border-radius: 4px;
    border-color: #83abc1 ;
    padding: 6px 37px;
    background-color: #4385c1  ;
    outline: none;
    border: 1px solid #83abc1 ;
    margin-bottom: -59px;
    font-size: 18px;
}
.ul1 li{
    list-style: none;
    color: white;
    padding: 10px 20px;
    padding: 11px 52px;

}
.ul1 li:hover{
    background-color: #002342;
    

}
.ul1{
    display: flex;
    background-color: #043867;
}
.logo{
    margin: 10px  20px;
    background-image:  url("DSC_5519-1.jpg");
    background-position:center;
    height: 320px;
    background-size: cover;
    position: relative;
    
}
.logo img{
    height: 380px;
    position: absolute;
    left: 33%;
}
.box1{
    display: flex;
    padding: 52px 23px;
    background-color: #7AA120;
}
.hd1{
    font-size: 26px;
    margin: -16px;
        width: 59%;
        font-size: 48px;
        color: white;
}
.p1{
    font-size:13px;
    padding: 10px;
    width: 72%;
    margin: -8px;
    color: white;
}
.box2, .box3, .box4{
    background-color: #e7ecf0;
    width: 257px;
    height: 227px;
    margin-top: 84px;
    padding: 0px 15px;
    
}
.hd2, .hd3, .hd4{
    color: #4385c1;
}
.p2, .p3, .p4{
    color: #9394a7;
}
.box234{
      display: flex;
      justify-content: space-around;
}
.box567{
       display: flex;
}
.hd5a, .hd5b, .hd5c, .hd5d{
      color: white;
      font-size: 26px;
      max-width: 30%;

}
.box5{
    background-color: #620e6e;
    width: 257px;
    height: 200px;
    margin: 16px;
    
    padding: 3px 19px;
}
.box6{
   
    height: 200px;
    margin: 24px;
  
    padding: 3px 19px;
    background-color: #4385c1;   
}
.hd6a, .hd6b, .hd6c, .hd6d{
    color: white;
      font-size: 26px;
}
.box7, .box8{
    width: 257px;
    height: 200px;
    margin-top: 84px;
    padding: 3px 19px;
  
    
}
.uses{
    color: black;
    font-size: 20px;
}
.box7a, .box8a{
      border: 1px solid;
      height: 84px;
      width:86px;
}
.hd7b, .hd8b{
    color: #7aa120;
    font-size: 23px ;
    margin-left: 20px;
    margin-bottom: 20px;
}
.hd7c, .hd8c{
    color: #7aa120;
    font-size: 56px;
    margin-left: 10px;
    margin-bottom: -15px;
    margin-top: -34px;
}
.clndr1{
       display: flex;

}
.lin{
    color: cornflowerblue;
    font-size: 10px;
    padding-top: 20px;
    margin-left: 50px;
   
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hd8d{
    color: cornflowerblue;
    font-size: 19px;
    padding-top: 20px;
    margin-left: 50px;
}
.about{
    display: flex;
    
}
.clndr1{
    display: flex;
    margin: 12px;
}
.about-next-date{
    margin: 12px;
}
.calender{
    max-width: 30%;

}
.take{
    width: 30%;
}
.all-buttons button{
    color: cornflowerblue; 
    font-size: 11px;
    border: 1px solid cornflowerblue ;
    margin: 30px 50px;
    padding: 12px 35px;
    border-radius: 4px;
    background-color: white
}
.footer{
      width: 100%;
      display: flex;
      background-color: #34383C;
}
.academic{
    margin-left: 46px;
    color: white;
    padding-top: 30px;
}
.academic-details{
    color: #B1B6BB;
    list-style: none;
    padding: 2px 43px;
    font-size: 12px;
}
 .addmission{
    margin-left: 40px;
    color: white;
    padding-top: 38px;
    font-size: 20px;
 }   
 .addimission-financial{
    color: #B1B6BB;
    list-style: none;
    padding: 2px 43px;
    font-size: 12px;
 }
 .student-life{
    margin-left: 40px;
    color: white;
    padding-top: 38px;
    font-size: 20px;
 }
.student-life-style{
    color: #B1B6BB;
    list-style: none;
    padding: 2px 43px;
    font-size: 12px;
}

.about1{
    margin-left: 40px;
    color: white;
    padding-top: 38px;
    font-size: 20px;
}
.simmons-details{
    color: #B1B6BB;
    list-style: none;
    padding: 2px 43px;
    font-size: 12px;
 }
.Alummnae-friends{
    margin-left: 40px;
    color: white;
    padding-top: 38px;
    font-size: 20px;
}
.friends{
    color: #B1B6BB;
    list-style: none;
    padding: 2px 43px;
    font-size: 12px;
}

.resource{
    margin-left: 40px;
    color: white;
    padding-top: 38px;
    font-size: 20px;
}
.for{
    color: #B1B6BB;
    list-style: none;
    padding: 2px 43px;
    font-size: 12px;
}
.heads{
    margin-left: 40px;
    color: white;
    padding-top: 38px;
    font-size: 14px;
}
.hr{
    
    background-color:  #34383C ;
}
.contact-details{
    background-color:  #34383C ;
    color: white;
    text-align: center;
    margin-top: -17px;
    padding: 15px;
}


